.accordion {
  --text-dark: rgba(35, 18, 18, 1);
  --white-2: rgba(236, 238, 234, 0.4);
  --green-main: rgba(29, 150, 44, 1);
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 10px 16px;
  border-radius: 8px;
  width: 100%;
}

.accordionTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordionContent {
  margin-top: 24px;
  padding-bottom: 20px;
}

.footer {
  background-color: var(--white-2);
  border: 1px solid var(--green-main);
}

.body {
  background-color: var(--green-alt);
}
