.footer {
  position: relative;
  z-index: -2;
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--footer-background);
  padding: 32px 328px;
}

.rollingTextContainer {
  width: 100%;
  text-align: center;
  padding: 32px 0px 48px 0px;
}

.rollingTextContainer > h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}

.rollingText {
  position: relative;
  height: 40px;
  overflow: hidden;
}

.word {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  color: var(--green-basic);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.animate {
  transform: translateY(-100%);
  opacity: 0;
}

.footer > h2 {
  margin: 32px 0px;
}

.formContainer {
  padding: 16px 0px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 16.8px;
  padding-right: 100px;
}

.socialMediaContainer {
  gap: 100px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
}

.socialMediaLink {
  display: flex;
  gap: 5px;
}

.creditContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
