.footer {
  position: relative;
  z-index: -2;
  color: var(--text-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--footer-background);
  padding: 32px 0px;
}

.content {
  width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  width: 100%;
  text-align: start;
  padding: 32px 0px 48px 0px;
}

.top > h3 {
  display: inline;
  padding-left: 104px;
}

.top > h3,
.top > h3 > span {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px;
}

.rollingText {
  position: relative;
  height: 40px;
  overflow: hidden;
}

.word {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  color: var(--green-basic);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.animate {
  transform: translateY(-100%);
  opacity: 0;
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0px;
}

.subtitle {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.formContainer {
  padding: 16px 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 16px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 16.8px;
  padding-right: 100px;
}

.socialMediaContainer {
  gap: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialMediaLinks {
  gap: 100px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
}

.socialMediaLink {
  display: flex;
  gap: 5px;
}

.creditContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

@media (max-width: 1199px) {
  .content {
    width: 303px;
  }
  .top {
    width: 100%;
    text-align: center;
    padding: 32px 0px 48px 0px;
  }

  .top > h3 {
    display: block;
    padding-left: 0px;
  }

  .top > h3,
  .top > h3 > span {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
  }
  .formContainer {
    display: flex;
    flex-direction: column;
  }
  .contactInfo {
    padding: 16px 0px;
  }
  .creditContainer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 24px 0px;
  }
}
