*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Sen";
  src: url(../public/Sen_variable.woff2);
}

:root {
  --texture: url(/public/Texture.png);
  --sage-green: rgba(197, 216, 197, 0.9);
  --off-white: rgba(236, 238, 234, 1);
  --white-alt: rgba(236, 238, 234, 0.4);
  --red: #ad0b0b;
  --red-light: #d9c5c5;
  --green-border-gradient: linear-gradient(
    71deg,
    #1d962c -27%,
    #88c18f 129.68%
  );
  --green-basic: rgba(29, 150, 44, 1);
  --green-2: rgba(86, 155, 95, 1);
  --green-3: rgba(20, 105, 31, 1);
  --green-alt: rgba(208, 224, 209, 1);
  --text-dark: rgba(35, 18, 18, 1);
  --navbar-background: linear-gradient(
    180deg,
    rgba(30, 51, 33, 1) 0%,
    rgba(32, 53, 34, 1) 100%
  );
  --hero-background: linear-gradient(
    180deg,
    rgba(32, 53, 34, 1) 0%,
    rgba(48, 82, 53, 1) 100%
  );
  --product-segment-2-background: linear-gradient(
    180deg,
    rgba(55, 93, 60, 1) 0%,
    rgba(76, 125, 81, 1) 100%
  );
  --product-segment-3-background: linear-gradient(
    180deg,
    rgba(79, 133, 85, 1) 0%,
    rgba(153, 199, 159, 1) 100%
  );
  --product-cards-background: linear-gradient(180deg, #375d3c 0%, #548d5b 100%);
  --testimonial-background: linear-gradient(180deg, #69a671 0%, #99c79f 100%);
  --footer-background: linear-gradient(180deg, #aed7b3 0%, #e5eee5 99.7%);
  --spring-background: linear-gradient(
    178deg,
    #46764c 1.32%,
    #e4c556 101.77%,
    #99c79f 229.62%
  );
  --summer-background: linear-gradient(
    175deg,
    #46764c 4.36%,
    #66aba4 100.42%,
    #99c79f 222.27%
  );
  --autumn-background: linear-gradient(
    175deg,
    #46764c 4.36%,
    #d07d25 100.42%,
    #99c79f 222.27%
  );
  --winter-background: linear-gradient(
    175deg,
    #46764c 4.36%,
    #3f497c 100.42%,
    #99c79f 222.27%
  );
  --table-background: rgba(236, 238, 234, 0.8);
  --table-header: rgba(236, 238, 234, 0.9);
  --table-data-gradient: linear-gradient(
    180deg,
    rgba(35, 18, 18, 1) 30%,
    rgba(255, 255, 255, 0) 50%,
    rgba(29, 150, 44, 1) 70%
  );
  --caption-background: rgba(30, 51, 33, 0.75);
  --shadow-1: 1px 2px 7.2px 0px #1e3321;
  --shadow-2: 1px 2px 7.2px 0px #375d3c;
  --shadow-3: 1px 2px 7.2px 0px #548d5b;
  --shadow-2-top: 1px -2px 7.2px 0px #375d3c;
}

a {
  text-decoration: none;
}

a > * {
  width: 100%;
}

body {
  font-family: "Sen", Arial, Helvetica, sans-serif;
  font-size: 16px;
  overscroll-behavior: none;
}

p {
  color: var(--Text);
  font-family: Sen;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.content-wrapper {
  overflow-x: hidden;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fade-in {
  opacity: 0;
}

.animate {
  animation: fadeInUp 0.6s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
  }
}
