*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Sen";
  src: url(../public/Sen_variable.woff2);
}

:root {
  --sage-green: rgba(197, 216, 197, 0.9);
  --off-white: rgba(236, 238, 234, 1);
  --white-alt: rgba(236, 238, 234, 0.4);
  --green-border-gradient: linear-gradient(
    71deg,
    #1d962c -27%,
    #88c18f 129.68%
  );
  --green-basic: rgba(29, 150, 44, 1);
  --green-alt: rgba(208, 224, 209, 1);
  --text-dark: rgba(35, 18, 18, 1);
  --navbar-background: linear-gradient(
    180deg,
    rgba(30, 51, 33, 1) 0%,
    rgba(32, 53, 34, 1) 100%
  );
  --hero-background: linear-gradient(
    180deg,
    rgba(32, 53, 34, 1) 0%,
    rgba(48, 82, 53, 1) 100%
  );
  --product-segment-2-background: linear-gradient(
    180deg,
    rgba(55, 93, 60, 1) 0%,
    rgba(84, 141, 91, 1) 100%
  );
  --product-segment-3-background: linear-gradient(
    180deg,
    rgba(105, 166, 113, 1) 0%,
    rgba(153, 199, 159, 1) 100%
  );
  --product-cards-background: linear-gradient(180deg, #375d3c 0%, #548d5b 100%);
  --testimonial-background: linear-gradient(180deg, #69a671 0%, #99c79f 100%);
  --footer-background: linear-gradient(180deg, #cadecb 0%, #e5eee5 99.7%);
  --spring-background: linear-gradient(
    178deg,
    #46764c 1.32%,
    #e4c556 101.77%,
    #99c79f 229.62%
  );
  --summer-background: linear-gradient(
    175deg,
    #46764c 4.36%,
    #66aba4 100.42%,
    #99c79f 222.27%
  );
  --autumn-background: linear-gradient(
    175deg,
    #46764c 4.36%,
    #d07d25 100.42%,
    #99c79f 222.27%
  );
  --winter-background: linear-gradient(
    175deg,
    #46764c 4.36%,
    #3f497c 100.42%,
    #99c79f 222.27%
  );
  --table-background: rgba(236, 238, 234, 0.8);
  --table-header: rgba(236, 238, 234, 0.9);
  --table-data-gradient: linear-gradient(
    180deg,
    rgba(35, 18, 18, 1) 30%,
    rgba(255, 255, 255, 0) 50%,
    rgba(29, 150, 44, 1) 70%
  );
  --caption-background: rgba(30, 51, 33, 0.6);
  --shadow-1: 1px 2px 7.2px 0px #1e3321;
  --shadow-2: 1px 2px 7.2px 0px #375d3c;
  --shadow-3: 1px 2px 7.2px 0px #548d5b;
  --shadow-2-top: 1px -2px 7.2px 0px #375d3c;
}

a {
  text-decoration: none;
}

a > * {
  width: 100%;
}

body {
  font-family: "Sen", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

p {
  color: var(--Text);
  font-family: Sen;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.content-wrapper {
  overflow-x: hidden;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  position: relative;
  background: var(--hero-background);
  padding: 168px 0px;
  display: flex;
  flex-direction: column;
  gap: 192px;
  color: var(--off-white);
}

.hero-title {
  padding: 10px 0px;
  font-size: 48px;
  line-height: 54px;
}

.hero-main-container {
  padding: 0px 249px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 192px;
  width: 100%;
}

.hero-main-container > h1 {
  font-size: 48px;
  font-weight: 400;
}

.hero-call-to-action {
  display: flex;
  flex-direction: column;
  gap: 48px;

  padding: 24px 0px;
}

.hero-call-to-action > p {
  font-size: 20px;
}

.hero-call-to-action-link {
  width: 300px;
  display: block;
}

.hero-information-container {
  display: flex;
  justify-content: space-between;
}

.hero-information {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 230px;
}

.hero-information > h2 {
  font-size: 20px;
}

.product-cards {
  background: var(--product-cards-background);
  padding: 48px 0px;
}

.product-cards > h2 {
  color: var(--off-white);
  padding: 32px 0px;
}

.product-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 0px;
  gap: 72px;
}

.product-card {
  width: 784px;
  height: 337px;
  display: flex;
  box-shadow: var(--shadow-2-top);
  border-radius: 33px;
}

.product-card-image {
  width: 470px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.product-card-text {
  background-color: var(--off-white);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.product-card-text-container {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.images-container {
  display: flex;
  width: 640px;
  height: 479px;
  gap: 32px;
  margin: 72px 0px;
}

.images-container > div:first-child {
  align-self: flex-end;
}

.images-container > div:nth-child(2) {
  align-self: center;
}

.images-container > div:nth-child(3) {
  align-self: flex-start;
}

.testimonials {
  background: var(--testimonial-background);
  padding: 48px 0px;
  overflow-x: hidden;
}

.testimonials > h2 {
  padding: 32px 0px;
  color: var(--off-white);
}

.testimonials-container {
  display: flex;
  gap: 40px;
  padding: 32px 0px;
}

.quote-icon {
  position: absolute;
}

.quote-icon.start {
  top: -5px;
  left: -10px;
}

.testimonial-images {
  display: flex;
  gap: 24px;
  padding: 72px 0px;
}

.testimonial-images > div:nth-child(2),
.testimonial-images > div:nth-child(4) {
  margin-top: 124px;
}

@media (max-width: 1199px) {
  .hero {
    padding: 120px 0px;
  }

  .hero-main-container {
    padding: 0px 121px;
    gap: 156px;
  }

  .hero-main-container > h1 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 400;
  }

  .hero-information-container {
    margin-top: 30px;
  }

  .product-cards > h2 {
    color: var(--off-white);
    padding: 32px 0px;
  }

  .product-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 0px;
    gap: 72px;
    width: 303px;
  }

  .product-card {
    height: 407px;
    display: grid;
    width: 100%;
    grid-template-rows: repeat(2, 1fr);
    box-shadow: var(--shadow-2-top);
    flex-direction: column;
    border-radius: 33px;
  }

  .product-card-image {
    border-top-left-radius: inherit;
    border-bottom-left-radius: 0px;
    border-top-right-radius: inherit;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .product-card-text {
    background-color: var(--off-white);
    display: flex;
    flex-grow: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 25px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  .product-card-text-container {
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .product-card-text-container > h2 {
    font-size: 16px;
    line-height: 20px;
  }

  .images-container {
    gap: 20px;
    height: 324px;
    justify-content: center;
  }

  .testimonials-container {
    gap: 16px;
    overflow: hidden;
  }
}

@media (max-width: 951px) {
  .hero-information-container {
    flex-direction: column;
    gap: 96px;
  }
}

@media (max-width: 520px) {
  .hero {
    padding: 64px 0px;
  }

  .hero-main-container {
    padding: 0px 45px;
    gap: 224px;
  }

  .hero-information-container {
    margin-top: 0px;
    margin-bottom: 40px;
  }

  .images-container-left {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .images-container-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
