.section {
  color: var(--off-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px;
}

.title {
  font-size: 20px;
}

.contentContainer {
  width: 784px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.section.intro {
  background: var(--hero-background);
}

.primavera {
  background: var(--spring-background);
}
.verano {
  background: var(--summer-background);
}
.otono {
  background: var(--autumn-background);
}
.invierno {
  background: var(--winter-background);
}

.section.body > .contentContainer {
  gap: 72px;
}

.label {
  padding-left: 6px;
}

.legendContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.legend {
  padding: 6px 10px;
  display: flex;
  gap: 22px;
  background-color: var(--green-alt);
  border-radius: 5px;
}

.legendInner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  color: var(--text-dark);
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.green {
  background-color: var(--green-basic);
}

.black {
  background-color: var(--text-dark);
}

.tableContainer {
  width: 100%;
}

.accordionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accordionContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  gap: 16px;
}

.buttonContainer > * {
  flex: 1;
}
