.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--off-white);
}
.first {
  background: var(--hero-background);
}
.second {
  background: var(--product-segment-2-background);
}
.third {
  background: var(--product-segment-3-background);
}
.contentContainer {
  padding: 64px 0px;
  width: 784px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contentContainer > p {
  align-self: flex-start;
}
.first > .contentContainer > p:nth-child(2),
.second > .contentContainer > p:first-child {
  padding-bottom: 48px;
}
.pageTitle {
  font-size: 20px;
  padding-bottom: 32px;
}
.imageContainerFirstParent {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 36px;
}
.imageContainerFirstTop {
  display: flex;
  justify-content: flex-end;
}
.imageContainerFirstBottom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 35px;
}
.imageContainerFirstBottom > .image:nth-child(2) {
  margin-bottom: 73px;
}
.imageContainerFirstBottom > .image:nth-child(3) {
  margin-bottom: 22px;
}
.imageContainerSecond {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 95px;
  gap: 35px;
}
.imageContainerSecond > .image:nth-child(1) {
  margin-bottom: 210px;
}
.imageContainerSecond > .image:nth-child(2) {
  margin-bottom: 183px;
}
.imageContainerSecond > .image:nth-child(4) {
  margin-bottom: 95px;
}
.imageContainerThird {
  margin-top: 48px;
}
.image {
  border-radius: 12px;
}
