.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--off-white);
}
.first {
  background: var(--hero-background);
}
.second {
  background: var(--product-segment-2-background);
}
.third {
  background: var(--product-segment-3-background);
}
.contentContainer {
  padding: 64px 0px;
  width: 784px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contentContainer > p {
  align-self: flex-start;
}
.first > .contentContainer > p:nth-child(2),
.second > .contentContainer > p:first-child {
  padding-bottom: 48px;
}
.pageTitle {
  font-size: 20px;
  padding-bottom: 32px;
}
.imageContainerFirstParent {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 24px;
}
.imageContainerFirstTop {
  display: flex;
  justify-content: flex-end;
}
.imageContainerFirstBottom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 24px;
}
.imageContainerFirstBottom > div:nth-child(2) {
  margin-bottom: 73px;
}
.imageContainerFirstBottom > div:nth-child(1) {
  margin-bottom: 22px;
}
.imageContainerSecond {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 95px;
  gap: 24px;
}
.imageContainerSecond > div:nth-child(1) {
  margin-bottom: 210px;
}
.imageContainerSecond > div:nth-child(2) {
  margin-bottom: 183px;
}
.imageContainerSecond > div:nth-child(4) {
  margin-bottom: 95px;
}
.imageContainerThird {
  margin-top: 48px;
}

@media (max-width: 1199px) {
  .contentContainer {
    max-width: 90%;
  }

  .imageContainerFirstParent {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    width: clamp(290px, 60%, 350px);
    gap: 24px;
  }

  .imageContainerFirstTop > div {
    width: 96px !important;
    height: 72px !important;
  }

  .imageContainerFirstBottom > div:nth-child(2) {
    margin-bottom: 73px;
    width: 211px !important;
    height: 98px !important;
  }

  .imageContainerFirstBottom > div:nth-child(1) {
    margin-bottom: 22px;
    width: 71px !important;
    height: 127px !important;
  }

  .imageContainerSecond {
    width: clamp(250px, 60%, 400px);
    margin-top: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imageContainerSecondTop,
  .imageContainerSecondBottom {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0px !important;
  }

  .imageContainerSecondBottom {
    justify-content: flex-end;
  }

  .imageContainerSecondTop > div:nth-child(1) {
    margin: 0px;
    width: 151px !important;
    height: 140px !important;
  }
  .imageContainerSecondTop > div:nth-child(2) {
    margin: 0px;
    width: 108px !important;
    height: 99px !important;
  }
  .imageContainerSecondBottom > div:nth-child(1) {
    margin: 0px;
    width: 122px !important;
    height: 157px !important;
  }
  .imageContainerSecondBottom > div:nth-child(2) {
    margin: 0px;
    width: 138px !important;
    height: 120px !important;
  }
  .imageContainerThird > div:first-child {
    margin: 0px;
    width: 315px !important;
    height: 209px !important;
  }
}
