.navbar {
  position: sticky;
  top: 0px;
  z-index: 1001;
  color: var(--off-white);
  background: var(--navbar-background);
  padding: 8px 47px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  transition: all 0.3s ease;
  position: relative;
  width: 68px;
  height: 68px;
}

.logoContainer.middle {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
}

.burgerContainer {
  cursor: pointer;
}

.linksContainer {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38px;
}

.linksContainerVertical {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 51px;
  padding: 0px !important;
}

.link > a,
.link > span {
  color: inherit;
  font-size: 20px;
}

.buttonLink > a {
  font-size: 16px !important;
}

.link {
  cursor: pointer;
}

.link:not(.buttonLink):hover {
  animation: fade-in 0.7s ease-in forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttonLink .active {
  font-weight: bold;
}

@media (max-width: 1199px) {
  .navbar {
    padding: 8px 20px;
  }
}
