.products {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 48px 0px 64px 0px;
  color: var(--off-white);
}

.cardContainer {
  width: 100%;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContainer:nth-child(1) {
  background: var(--hero-background);
}
.cardContainer:nth-child(2) {
  background: var(--product-segment-2-background);
}
.cardContainer:nth-child(3) {
  background: var(--product-segment-3-background);
}

.card {
  width: 650px;
  background-color: var(--off-white);
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 75px;
  padding: 67px;
}

.informationContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.accordionContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding-top: 36px;
}
