.products {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 16px 0px 64px 0px;
  color: var(--off-white);
  font-size: 20px;
}

.segment {
  width: 100%;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first {
  background: var(--hero-background);
}
.second {
  background: var(--product-segment-2-background);
}
.third {
  background: var(--product-segment-3-background);
}

.cardWrapper {
  width: 650px;
}

.card {
  width: 100%;
  background-color: var(--off-white);
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 75px;
  padding: 67px;
}

.informationContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.accordionContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding-top: 36px;
}

@media (max-width: 1199px) {
  .cardWrapper {
    width: 353px;
  }

  .card {
    width: 100%;
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 33px;
    padding: 25px;
    overflow-x: hidden;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
  }
}
