.section {
  color: var(--off-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 20px;
}

.section > p {
  width: 784px;
}

.section.intro {
  background: var(--hero-background);
  gap: 32px;
  padding: 96px 248px 64px 248px;
}

.section.body {
  background: var(--product-segment-2-background);
  gap: 72px;
  padding: 48px 248px 64px 248px;
}

.introTextContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.inputContainer > * {
  flex: 1;
}

.mapsContainer {
  width: 100%;
  display: flex;
  gap: 50px;
}

.storeCardContainer {
  height: 1083px;
  width: 303px;
  border-radius: 8px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mapPlaceholder {
  flex-grow: 1;
  height: 495px;
  background-color: gray;
  border-radius: 8px;
}

@media (max-width: 1199px) {
  .section.intro {
    gap: 32px;
    padding: 32px 121px 48px 121px;
  }

  .section.body {
    gap: 48px;
    padding: 24px 121px 64px 121px;
  }
  .mapsContainer {
    flex-direction: column-reverse;
  }

  .storeCardContainer {
    align-self: center;
  }
}

@media (max-width: 600px) {
  .section.intro {
    gap: 32px;
    padding: 32px 45px 48px 45px;
  }

  .section.body {
    gap: 48px;
    padding: 24px 45px 48px 45px;
  }

  .inputContainer {
    flex-direction: column;
    align-items: center;
  }

  .inputContainer > * {
    width: 100%;
  }
}
