.selectWrapper {
  position: relative;
  width: 784px;
  height: 44px;
}

.select {
  width: 100%;
  background: var(--off-white) no-repeat;
  background-position: right 24px top 50%;
  border-radius: 8px;
  padding: 10px 24px;
  color: var(--text-dark);
  appearance: none;
  border: none;
  font-size: 16px;
}

.arrow {
  position: absolute;
  top: 13px;
  right: 24px;
  width: 18px;
  height: 18px;
  pointer-events: none;
}

@media (max-width: 1199px) {
  .selectWrapper {
    width: 419px;
  }
}
@media (max-width: 500px) {
  .selectWrapper {
    width: 303px;
  }
}
